<header class="site-header">
  <div class="wrapper">
    <div class="site-title" data-text="{{ site.title }}">
      <a href="{{ site.baseurl }}/">{{ site.title }}</a>
    </div>
    <ul class="contact-list">
      {% if site.email %}
      <li> {% include icon-mail.html color='#ffffff'%} </li>
      {% endif %}
      {% if site.github_username %}
      <li> {% include icon-github.html username=site.github_username color='#ffffff'%} </li>
      {% endif %}
    </ul>

      <div class="trigger">
        {% for my_page in site.pages %}
          {% if my_page.title %}
          <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
  </div>
</header>
